<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>Home Page</title>
</head>
<body>
    <div class='container'>
        <% if (editing) { %>
            <div class="meme-form-title"><h1>Edit Meme Form</h1></div>
            <form class='container' method="POST" autocomplete="off" action="/memes/<%= id %>?_method=PATCH ">
        <% }else{ %>
        <div class="meme-form-title"><h1>Add your meme</h1></div>
        <form class='container' method="POST" action="/memes" autocomplete="off">
            <div class="group">      
                <input type="text" required name="name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
              </div>
        <% } %>
            <div class="group">      
                <input type="text" required name="caption">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Enter Meme Caption</label>
              </div>
            <div class="group">      
                <input type="text" required name="url">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Meme image URL</label>
              </div>
            <button id='submit-btn'>Submit</button>
        </form>
        <div>
            <a href='/memes/feed'><button class="meme-btn">View All Memes</button></a>
        </div>
    </div>
    
</body>
</html>