<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>Home Page</title>
</head>
<body>
    <div class='container'>
        <h1>Meme Form</h1>
        <form class='container' method="POST" action="/memes">
            <input type="text" placeholder="enter your name" name="name"/>
            <input type="text" placeholder="enter meme caption" name="caption"/>
            <input type="text" placeholder="enter meme url" name="url"/>
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>